.adminclass-main {
  width: 100%;
  min-width: 1000px;
  margin-right: 20px;
  margin-top: 70px;
  margin-left: 20px;
  margin-bottom: 20px;
  padding: 20px;
}
.a-searchclass {
  background-color: #526C87;
  padding: 20px;
}
.adminclass-main > h3 {
  color: #fff;
}
