.creclass-main {
  width: 100%;
  min-width: 1000px;
  margin-right: 20px;
  margin-top: 70px;
  margin-left: 20px;
  margin-bottom: 20px;
  padding: 20px;
}
.creclass-main > hr {
  width: 100%;
}
.creclass-main > h3 {
  color: #fff;
}
