.creclass-main {
  width: 100%;
  min-width: 1000px;
  margin-right: 20px;
  margin-top: 70px;
  margin-left: 20px;
  margin-bottom: 20px;
  padding: 20px;
}
.creclass-main > hr {
  width: 100%;
}
.creclass-main > h3 {
  font-size: 24px;
  color: #fff;
}
.creclass-main > p {
  font-size: 21px;
  margin-top: 20px;
}
.creclass-main > input {
  width: 350px;
  height: 40px;
}
