.uplvideo-mian {
  background-color: #526C87;
  width: 100%;
  min-width: 1000px;
  margin-right: 20px;
  margin-top: 70px;
  margin-left: 20px;
  margin-bottom: 20px;
  padding: 20px;
}
.uplvideo-mian > span,
p {
  color: #fff;
}
.uplvideo-mian > select {
  width: 200px;
  height: 30px;
  margin-bottom: 20px;
}
.uplvideo-mian > input {
  width: 500px;
  height: 30px;
  margin-bottom: 20px;
}
.uplvideo-mian > textarea {
  display: inline-block;
  resize: none;
  overflow: hidden;
  width: 500px;
  height: 200px;
  outline: none;
  border-radius: 10px;
  border: none;
  margin-bottom: 20px;
  padding: 10px;
}
.uplvideo-mian button {
  width: 150px;
  margin-left: 350px;
}
