@bgColor:#526C87;
@color:#fff;
@mianMinWidth:1000px;

.uplvideo-mian{
    background-color: @bgColor;
    width: 100%;
    min-width: @mianMinWidth;
    margin-right: 20px;
    margin-top: 70px;
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 20px;
}